.container {
    margin-top: 5rem;
}

.containerseparator {
    height: 0.5rem;
}

.containerseparator-small {
    height: 1rem;
}

.containerseparator-medium {
    height: 2rem;
}

.containerseparator-large {
    height: 3rem;
}