footer {
    background-color: #1d2735;
    position: absolute;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    overflow: hidden;
    clear:both;
    margin-top:auto;
    max-height: 15rem;
}

footer div {
    display: flex;
    justify-content: center;
    font-size: calc(5px + 1vmin);
    margin: 3rem;
}

footer div ul li {
    display: inline;
    list-style: none;
    margin: 1rem;
}

.links {
    text-decoration: none;
    color: rgb(207, 207, 207);
}

.links:hover {
    color:  rgb(103, 124, 131);
}
