.list {
    list-style-position: inside;
    list-style: none;
    padding-bottom: 2rem;;
}

.list li {
    letter-spacing: 0.02rem;
    font-size: calc(6px + 1vmin);
}

.list li::before {
    content: '\01F984'; //01F33B //http://unicode.org/emoji/charts/full-emoji-list.html
    margin-right: 0.5rem;
    font-size: 1.2rem;
    vertical-align: middle;
    line-height: 1.9rem;
}